<div class="row align-items-center justify-content-center p-5 text-center">
  <h5 class="mr-5 box"><%= link_to '<i class="fan fas fa-users"></i>'.html_safe, participants_path(survey_id: @survey.id), class:"m-2" %><%= @survey.participants.count %></h5>
  <h3><%= @survey.name %> - Participants</h3>
  <h5 class="ml-5 box"><%= link_to '<i class="fan fas fa-poll"></i>'.html_safe, survey_question_answers_path(@survey), class:"m-2" %><%= @survey.survey_questions.count %></h5>
</div>
<div class="container">
<div class="row align-items-center border-bottom justify-content-center pt-2 pb-1 text-left">
	<div class="col-md-1">
    	<span><strong>#</strong></span>
    </div>
    <div class="col-md-6">
    	<span><strong>Participant</strong></span>
    </div>
    <div class="col-md-1">
    	
    </div>
</div>


<% @participants.reverse.each_with_index do |participant, i| %>
	<div class="row align-items-center border-bottom justify-content-center py-3 text-left hoverable">
		<div class="col-md-1">
	    	<%= i + 1 %>
	    </div>
	    <div class="col-md-6">
	    	<%= participant.email %> 
	    </div>
	    <div class="col-md-1">
      		<%= link_to '<i class="fan fas fa-arrow-right"></i>'.html_safe, participant_path(participant) %>
	    </div>
	</div>
<% end %>
</div>

<div class="row align-items-center justify-content-center p-3">
      <%= link_to "Go to Questions", survey_question_answers_path(@survey), class: "button filled-button m-3" %>
      <%= link_to "Back to Top", participants_path(survey_id: @survey.id), class: "button filled-button m-3" %>
</div>




	
		
