<div class="container">

<div class="row align-items-center justify-content-center p-5 text-center">
  <h5 class="mr-5 box"><%= link_to '<i class="fan fas fa-users"></i>'.html_safe, participants_path(survey_id: @participant.survey.id), class:"m-2" %><%= @participants.count %></h5>
  <h3><%= @participant.email %></h3>
  <h5 class="ml-5 box"><%= link_to '<i class="fan fas fa-poll"></i>'.html_safe, survey_question_answers_path(@participant.survey), class:"m-2" %><%= @participant.survey.survey_questions.count %></h5>
</div>

<div class="row align-items-center border-bottom justify-content-center pt-2 pb-1 text-left">
	<div class="col-md-1 text-center">
    	<span><strong>#</strong></span>
    </div>
    <div class="col-md-5">
    	<span><strong>Question</strong></span>
    </div>
    <div class="col-md-3 text-center">
    	<span><strong>Answer</strong></span>
    </div>
    <div class="col-md-2 text-center">
    	<span><strong>Average</strong></span>
    </div>
    <div class="col-md-1">
    </div>

</div>


<% @participant.question_answers.each_with_index do |answer, i| %> 


	<div class="row align-items-center border-bottom justify-content-center py-3 text-left hoverable">
		<div class="col-md-1 text-center">
	    	<%= i + 1 %>
	    </div>
		<div class="col-md-5">
	    	<%= link_to "#{answer.survey_question.question}", survey_question_path(answer.survey_question, question_number: i), style:"color:black" %>
	    </div>
	    <div class="col-md-3 text-center">
	    	<% if answer.survey_question.q_type == "opinion_scale" %>
	    		<%  @value = answer.response.to_i %>
	    	 	<% answers = 0 %>
	    	 	<% answer.survey_question.question_answers.each do |answer| %>
	    	    	<% answers += answer.response.to_i %>
	    	  	<% end %>
	    	  	<% @average = answers.fdiv(answer.survey_question.question_answers.count).round %>
	    	  	<% if @value < @average %>
	    	  		 <%= answer.response %> /10 <i class="fas fa-arrow-down text-danger smaller"></i>
	    	  	<% elsif @value == @average %>
	    	  		 <%= answer.response %> /10 <i class="fas fa-equals smaller"></i>
	    	  	<% elsif @value > @average %>
	    	  		 <%= answer.response %> /10 <i class="fas fa-arrow-up text-success smaller"></i>
	    	  	<% end %>
	    	<% else %>
	    	  <% @average = "N/A" %>
	    	  <%= answer.response %>
	    	<% end %>

	    </div>
	    <div class="col-md-2 text-center">
	    	<%= @average %>
	    </div>
	    <div class="col-md-1">
      		<%= link_to '<i class="fan fas fa-arrow-right"></i>'.html_safe, survey_question_path(answer.survey_question, question_number: i) %>
    	</div>
	</div>
<% end %>


<div class="row align-items-center justify-content-center p-3">
      <%= link_to "Go to Questions", survey_question_answers_path(@participant.survey), class: "button filled-button m-3" %>
      <%= link_to "Go to Participants", participants_path(survey_id: @participant.survey.id), class: "button filled-button m-3" %>
</div>
</div>






<!-- Graphs Examples-->

<%#= line_chart({20.day.ago => 5, 10.day.ago => 10, }) %>
<%#= pie_chart [["football",10], ["basketball", 5]] %>
