<div class="row align-items-center justify-content-center p-5 text-center border-bottom"><h1> <%= @participant.email %></h1></div>


<div class="row align-items-center border-bottom justify-content-center pt-2 pb-1 text-center">
	<div class="col-md-1">
    	<span><strong>#</strong></span>
    </div>
    <div class="col-md-4">
    	<span><strong>Question</strong></span>
    </div>
    <div class="col-md-5">
    	<span><strong>Answer</strong></span>
    </div>
    <div class="col-md-2">
    	<span><strong>Average</strong></span>
    </div>
</div>


<% @participant.question_answers.reverse.each_with_index do |answer, i| %> 


	<div class="row align-items-center border-bottom justify-content-center py-3 text-center hoverable">
		<div class="col-md-1">
	    	<%= i %>
	    </div>
		<div class="col-md-4">
	    	<%= link_to "#{answer.survey_question.question}", survey_question_path(answer.survey_question, question_number: i) %>
	    </div>
	    <div class="col-md-5">
	    	<%= answer.response %>
	    	<% if answer.survey_question.q_type == "opinion_scale" %>
	    		<%  @value = answer.response.to_i %>
	    	 	<% answers = 0 %>
	    	 	<% answer.survey_question.question_answers.each do |answer| %>
	    	    	<% answers += answer.response.to_i %>
	    	  	<% end %>
	    	  	<% @average = answers.fdiv(answer.survey_question.question_answers.count).round %>
	    	  	<% if @value < @average %>
	    	  		 <i class="fas fa-arrow-down text-danger smaller"></i>
	    	  	<% elsif @value == @average %>
	    	  		 <i class="fas fa-equals smaller"></i>
	    	  	<% elsif @value > @average %>
	    	  		 <i class="fas fa-arrow-up text-success smaller"></i>
	    	  	<% end %>
	    	<% else %>
	    	  <% @average = "N/A" %>
	    	<% end %>

	    </div>
	    <div class="col-md-2">
	    	<%= @average %>
	    </div>
	</div>
<% end %>


<div class="row align-items-center justify-content-center p-3 text-center">
	<%= link_to "Index", survey_question_answers_path(@participant.survey), class: "filled-button m-2" %>
    <%= link_to "Participants", participants_path(survey_id: @participant.survey.id), class:  "filled-button m-2" %>
</div>





<!-- Graphs Examples-->

<%#= line_chart({20.day.ago => 5, 10.day.ago => 10, }) %>
<%#= pie_chart [["football",10], ["basketball", 5]] %>
