<% if user_signed_in? %>
  <div class="navbar-home signed-in">
        <%= link_to "PROJECTS", projects_path, class: "navbar-item" %>
        <%= link_to "SURVEYS", project_path(current_user.project), class: "navbar-item" %>
        <%= link_to "PARTICIPANTS", new_user_session_path, class: "navbar-item" %>
        <%= link_to "HELP", new_user_session_path, class: "navbar-item" %>
        <%= link_to "My Account", user_path(current_user), class: "navbar-item sec-button" %>
    </div>
<% else %>
  <div class="navbar-home">
      <a href="#", class="navbar-item">ABOUT</a>
      <a href="#", class="navbar-item">PRICING</a>
      <a href="#", class="navbar-item">BLOG</a>
      <%= link_to "LOGIN", new_user_session_path, class: "navbar-item sec-button" %>
      <%= link_to "SIGN UP", new_user_registration_path, class: "navbar-item pri-button" %>
    </div>
<% end %>

