    <div class="row">
    <h1 class="p-3 underline">About Us</h1>
  </div>
   <div class="row my-2">
      <div class="col-md-12 col-lg-6">
        <div class="text  text-left pl-4" style="width: 700px">
            <h2 >We want to make data collection <span class="yellow">Enjoyable</span></h2>

            <div class="pokestars d-inline-flex mt-3">
              <div class="mr-4">
                <%= image_tag "team/aziz.jpg", alt: "alttext", class: "profile-pic mb-3", style: "width:150px; height:150px" %>
                <p>Aziz Kemal Hoscan</p>
              </div>
              <div class="mr-4 text-center">
                <%= image_tag "team/nick.jpg", alt: "alttext", class: "profile-pic mb-3", style: "width:150px; height:150px" %>
                <p>Nicolas De Mil</p>
              </div>
              <div class="mr-4 text-center">
              <%= image_tag "team/sjacob.png", alt: "alttext", class: "profile-pic mb-3", style: "width:150px; height:150px" %>
              <p>Susanna Jacob</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text text-left pl-4 mt-3" style="width: 1200px">
            <h2>And we've had <span class="yellow">Enormous</span> help on the way!</h2>

            <div class="le-wagon-team mt-3">
              <%= image_tag "team/alex.jpg", alt: "alttext", class: "profile-pic mb-3 mr-4", style: "width:150px; height:150px" %>
              <%= image_tag "team/arthur.jpg", alt: "alttext", class: "profile-pic mb-3 mr-4", style: "width:150px; height:150px" %>
              <%= image_tag "team/ben_baranger.png", alt: "alttext", class: "profile-pic mb-3 mr-4", style: "width:150px; height:150px" %>
              <%= image_tag "team/ben_fanning.jpg", alt: "alttext", class: "profile-pic mb-3 mr-4", style: "width:150px; height:150px" %>
              <%= image_tag "team/ben_pham.jpg", alt: "alttext", class: "profile-pic mb-3 mr-4", style: "width:150px; height:150px" %>
              <%= image_tag "team/ben_wright.jpg", alt: "alttext", class: "profile-pic mb-3 mr-4", style: "width:150px; height:150px" %>
              <%= image_tag "team/cat.jpg", alt: "alttext", class: "profile-pic mb-3 mr-4", style: "width:150px; height:150px" %>
               <%= image_tag "team/ife.jpg", alt: "alttext", class: "profile-pic  mr-4", style: "width:150px; height:150px" %>
               <%= image_tag "team/lenny.jpg", alt: "alttext", class: "profile-pic  mr-4", style: "width:150px; height:150px" %>
               <%= image_tag "team/lucien.jpg", alt: "alttext", class: "profile-pic  mr-4", style: "width:150px; height:150px" %>
               <%= image_tag "team/marco.jpg", alt: "alttext", class: "profile-pic  mr-4", style: "width:150px; height:150px" %>
               <%= image_tag "team/phalem.jpg", alt: "alttext", class: "profile-pic mr-4", style: "width:150px; height:150px" %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
