<%= image_tag "green_circle.png", alt: "alttext", id: "home-top-right" %>
<%= image_tag "blue_circle.png", alt: "alttext" , id: "home-top-left"%>
<%= image_tag "purple_circle.png", alt: "alttext", id: "home-bottom" %>


<div class="content">

  <div class="text">

    <div class="headers">

    <h1>Data Collection</h1>
    <h1>Made Easy</h1>


    <p><span id="banner-typed-text"></span></p>

    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    <%= link_to "Learn More", projects_path, class: "sec-button learn-more"  %>
  </div>
  <%= image_tag "index_banner_workgroup.png" , class: "workgroup" %>
</div>





