<div class="container">

<% if user_signed_in? %>
    <div class="row my-5 ">
      <div class="col-md-12 col-lg-6">
        <div class="text mt-3 justify-content-center align-items-middle text-center">
            <h1>Data Collection</h1>
            <h1 class="text-justify">Made <span class="yellow">Easy</span> <span id="banner-typed-text"></span></h1>

            <div class="px-5 my-5">
              <p>A new way to manage researches. Create solid projects, compose thorough surveys. With dcme.today, become a researcher just today.</p>
            </div>
  <!--           Need help redirects and does the scroll
   -->          <%= link_to "Start Project", projects_path, class: "sec-button start-project mt-3"  %>
          </div>
        </div>
        <!-- <div class="col-md-12 col-lg-6 my-5 align-middle" style="background-image: url('<%= asset_path 'index_banner_workgroup.png' %>')", id= "home_img"> -->
      </div>
    </div>
  </div>
  <%= image_tag "index_banner_workgroup.png" , class: "workgroup border-bottom" %>

    <div id="features">
      <div class="card-deck mt-4">
        <div class="card feature-card">
          <%= image_tag "create.png", alt: "Card image cap", class: "card-img-top feature-image" %>
          <div class="card-body">
            <h2 class="card-title">Shape</h2>
            <p class="card-text"><span style = "color: #c4bf1f;"><em>Swift adoption</em></span>, <span style = "color: #c4bf1f;"><em>easy launch</em></span>. Tailor made projects for you by you. You have full control over your projects.
            </p>
            <p class="card-text"><small class="text-muted">Test Message</small></p>
          </div>
        </div>
      <div class="card">
        <%= image_tag "share.png", alt: "Card image cap", class: "card-img-top feature-image" %>
        <div class="card-body">
          <h2 class="card-title">Share</h2>
          <p class="card-text">Share you research with <span style = "color: #c4bf1f;"> participants</span>, <span style = "color: #c4bf1f;"> colleagues</span>, <span style = "color: #c4bf1f;"> social media</span> or <span style = "color: #c4bf1f;"><em> the world</em></span></p>
          <p class="card-text"><small class="text-muted">Test Message</small></p>
        </div>
      </div>
      <div class="card">
        <%= image_tag "schedule.png", alt: "Card image cap", class: "card-img-top feature-image" %>
        <div class="card-body">
          <h2 class="card-title">Schedule</h2>
          <p class="card-text">Manage your team's <span style = "color: #c4bf1f;">progress</span>. Schedule <span style = "color: #c4bf1f;">interviews</span> with participants. Scheduling never been so easy.</p>
          <p class="card-text"><small class="text-muted">Test Message</small></p>
        </div>
      </div>

      <div class="card">
        <%= image_tag "generate_reports.png", alt: "Card image cap", class: "card-img-top feature-image" %>
        <div class="card-body">
          <h2 class="card-title">Generate Report</h2>
          <p class="card-text">Reports are just the way you want them to be. Different <span style = "color: #c4bf1f;">sorting options</span>. <span style = "color: #c4bf1f;">Multiple graphs</span>. Track your reports at a glance.</p>
          <p class="card-text"><small class="text-muted">Test Message</small></p>
        </div>
      </div>
    </div>

    <div id="call-action" class="mt-5">
    <h2 class="mr-4">Start Collecting Data with Ease <span style="font-style: italic; text-decoration:underline;">Today!</span></h2>
    <div class="sign-up">
    <%= link_to "Get Started", new_user_registration_path, class: "btn", id: "sign-up-home"  %>
    <p><small>Already signed up? <%= link_to "Log In", new_user_session_path, class: "home-log-in" %></small></p>
    </div>
    </div>
<% else %>
  <div class="row my-5 ">
    <div class="col-md-12 col-lg-6">
      <div class="text mt-3 justify-content-center align-items-middle text-center">
          <h1>Data Collection</h1>
          <h1 class="text-justify">Made <span class="yellow">Easy</span> <span id="banner-typed-text"></span></h1>

          <div class="px-5 my-5">
              <p>A new way to manage researches. Create solid projects, compose thorough surveys. With dcme.today, become a researcher just today.</p>
          </div>
        <%= link_to "Learn More", "", class: "sec-button learn-more mt-3"  %>
        </div>
      </div>
      <!-- <div class="col-md-12 col-lg-6 my-5 align-middle" style="background-image: url('<%#= asset_path 'index_banner_workgroup.png' %>')", id= "home_img"> -->
    </div>
  </div>
</div>
<%= image_tag "index_banner_workgroup.png" , class: "workgroup border-bottom" %>

  <div id="features">
    <div class="card-deck mt-4">
      <div class="card feature-card">
        <%= image_tag "create.png", alt: "Card image cap", class: "card-img-top feature-image" %>
        <div class="card-body">
            <h2 class="card-title">Shape</h2>
            <p class="card-text"><span style = "color: #c4bf1f;"><em>Swift adoption</em></span>, <span style = "color: #c4bf1f;"><em>easy launch</em></span>. Tailor made projects for you by you. You have full control over your projects.
            </p>
            <p class="card-text"><small class="text-muted">Test Message</small></p>
          </div>
      </div>
    <div class="card">
      <%= image_tag "share.png", alt: "Card image cap", class: "card-img-top feature-image" %>
      <div class="card-body">
          <h2 class="card-title">Share</h2>
          <p class="card-text">Share you research with <span style = "color: #c4bf1f;"> participants</span>, <span style = "color: #c4bf1f;"> colleagues</span>, <span style = "color: #c4bf1f;"> social media</span> or <span style = "color: #c4bf1f;"><em> the world</em></span></p>
          <p class="card-text"><small class="text-muted">Test Message</small></p>
        </div>
    </div>
    <div class="card">
      <%= image_tag "schedule.png", alt: "Card image cap", class: "card-img-top feature-image" %>
      <div class="card-body">
          <h2 class="card-title">Schedule</h2>
          <p class="card-text">Manage your team's <span style = "color: #c4bf1f;">progress</span>. Schedule <span style = "color: #c4bf1f;">interviews</span> with participants. Scheduling never been so easy.</p>
          <p class="card-text"><small class="text-muted">Test Message</small></p>
        </div>
    </div>

    <div class="card">
      <%= image_tag "generate_reports.png", alt: "Card image cap", class: "card-img-top feature-image" %>
      <div class="card-body">
          <h2 class="card-title">Generate Report</h2>
          <p class="card-text">Reports are just the way you want them to be. Different <span style = "color: #c4bf1f;">sorting options</span>. <span style = "color: #c4bf1f;">Multiple graphs</span>. Track your reports at a glance.</p>
          <p class="card-text"><small class="text-muted">Test Message</small></p>
        </div>
    </div>
  </div>

  <div id="call-action" class="mt-5">
  <h2 class="mr-4">Start Collecting Data with Ease <span style="font-style: italic; text-decoration:underline;">Today!</span></h2>
  <div class="sign-up">
  <%= link_to "Get Started", new_user_registration_path, class: "btn", id: "sign-up-home"  %>
  <p><small>Already signed up? <%= link_to "Log In", new_user_session_path, class: "home-log-in" %></small></p>
  </div>
  </div>

</div>
<% end %>
