<% require "time" 
%>

<div class="row">
	<h1 class="p-3 underline">My Projects <a href="/projects/new"><i class="fas fa-plus-circle" id="plus-btn"></i></a></h1>
</div>

<div class="row align-items-center border-bottom justify-content-center pt-4 pb-2 text-center">
	<div class="col-md-1">
    	<span><strong>Bookmark</strong></span>
    </div>
    <div class="col-md-2">
    	<span><strong>Project Name</strong></span>
    </div>
    <div class="col-md-1">
    	<span><strong>Status</strong></span>
    </div>
    <div class="col-md-1">
      <span><strong>Participants</strong></span>
    </div>
    <div class="col-md-1">
        <span><strong>Surveys</strong></span>
    </div>
    <div class="col-md-2">
      <span><strong>Created on</strong></span>
    </div>
    <div class="col-md-1">
	  <span><strong>Edit</strong></span>
	</div> 
    <div class="col-md-1">
    	<span><strong>Delete</strong></span>
    </div>
</div>

<% current_user.projects.each do |project| %>
	<% time_diff = Time.now - project.created_at %>
	<% time_diff_days = (time_diff.fdiv(43200)).floor %>
	<div class="row align-items-center border-bottom justify-content-center py-5 text-center hoverable">
		<div class="col-md-1">
    		<a href="#"><i class="far fas fa-star m-2"></i></a>
    	</div>
	    <div class="col-md-2">
	    	<%= link_to "#{project.name}", project_path(project), style:"color:black" %>
	    </div>
	    <div class="col-md-1">
    		<% if project.completed %>
    			<p class="project completed rounded">Completed</p>
    		<% elsif time_diff_days <= 1 %>
    			<p class="project new rounded">New</p>
    		<% else %>
    			<p class="project ongoing rounded">Ongoing</p>
    		<% end %>
    	</div>
	    <div class="col-md-1">
	    	<a href="#"><i class="fas fa-users"></i></a>
	    	<%= project.participants.count %>
	    </div>
	    <div class="col-md-1">
	    	<a href="#"><i class="fas fa-poll"></i></i></a>
	        <%= project.surveys.count %>
	    </div>
	    <div class="col-md-2">
	      <%= time_diff_days + "Day(s) Ago" if time_diff_days != 0 %>
	      <%= "Created today" if time_diff_days == 0 %>
	    </div> 
	    <div class="col-md-1">
	    	<a href="#"><i class="fas fa-edit"></i></a>
	    </div>
	    <div class="col-md-1">
	    	<%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, project_path(project), method: :delete, data: {confirm: "Are you sure?"} %>
	    </div>
	</div>
<% end %>
