<% require "time"
%>


<!-- <div class="row">
	<p class="p-3 m-0">Description of Project</i></p>
	<p class="p-3 m-0"><%#= @project.participants.count %> <i class="fas fa-users"></i></p>
	<p class="p-3 m-0"><%#= @project.surveys.count %> <i class="fas fa-poll"></i></p>
</div> -->

<% if @project.surveys.any? %>

<div class="container">
	<%= link_to '<i class="fas purple fa-arrow-circle-left"></i>'.html_safe, projects_path%>
 	<div class="row">

    <h1 class="p-3 underline"><%= @project.name %><a href="#" data-toggle="modal" data-target="#create-new-survey"><i class="fas fa-plus-circle ml-2" id="plus-btn"></i></a></h1>
    <%= render 'surveys/new_survey', project: @project %>
  </div>

	<div class="row align-items-center border-bottom justify-content-center pt-4 pb-2 text-center">
		<div class="col-md-1">
	    	<span><strong>Bookmark</strong></span>
	    </div>
	    <div class="col-md-3">
	    	<span><strong>Survey</strong></span>
	    </div>
	    <div class="col-md-2">
	      <span><strong># of Participants</strong></span>
	    </div>
	    <div class="col-md-2">
	        <span><strong># of Questions</strong></span>
	    </div>
	    <div class="col-md-2">
	      <span><strong>Created on</strong></span>
	    </div>
	    <div class="col-md-1">
		  <span><strong>Edit</strong></span>
		</div>
	    <div class="col-md-1">
	    	<span><strong>Delete</strong></span>
	    </div>
	  </div>

	<% @project.surveys.each do |survey| %>
		<div class="row align-items-center border-bottom justify-content-center py-5 text-center hoverable">
			<div class="col-md-1">
	    		<a href="#"><i class="far fas purple fa-star m-2"></i></a>
	    	</div>
		    <div class="col-md-3">
		    	<%= link_to "#{survey.name}", survey_path(survey), style:"color:black" %>
          <% if survey.completed %>
            <i class="far fa-check-circle" style="color: #FCCD08"></i>
          <% end %>
		    </div>
		    <div class="col-md-2">
		    	<a href="#"><i class="fas purple fa-users"></i></a>
		    	<%= survey.participants.count %>
		    </div>
		    <div class="col-md-2">
		    	<a href="#"><i class="far fas purple fa-question-circle"></i></a>
		        <%= survey.survey_questions.count %>
		    </div>
		    <div class="col-md-2">
		      <% time_diff = Time.now - survey.created_at %>
		      <% time_diff_days = (time_diff.fdiv(43200)).floor %>
		      <%= time_diff_days.to_s + " Days Ago" if time_diff_days > 1  %>
		      <%= "Yesterday" if time_diff_days == 1 %>
		      <%= "Today" if time_diff_days == 0 %>
		    </div>
		    <div class="col-md-1">
		    	<a href="#"><i class="fas fa-edit"></i></a>
		    </div>
		    <div class="col-md-1">
		    	<%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, survey_path(survey), method: :delete, data: {confirm: "Are you sure?"} %>
		    </div>
		</div>
	<% end %>
	</div>

<% else %>

  <div class="row">
    <h1 class="p-3 underline"><%= @project.name %></h1>
  </div>

  <div class="mt-3">
	 <p style="font-style: italic; opacity: 0.5">No surveys have been added to this project yet</p>
   <div class="d-flex align-items-center ">
    <p class="mb-0 mr-2"> Create one here!</p>
    <a href="#" data-toggle="modal" data-target="#create-new-survey"><i class="fas fa-plus-circle" id="plus-btn"></i></a>
    <%= render 'surveys/new_survey', project: @project %>
  </div>
  </div>


<% end %>
