<h1><%= @project.name %></h1>

<p>Please enter the name of the Survey you would like to create</p>

<%= simple_form_for [@project, Survey.new] do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "button" %>
<% end %>

<ol>
<% @project.surveys.each do |survey| %>
  <li> <%= link_to "#{survey.name}", survey_path(survey)  %></li>
<% end %>
</ol>


