<% if question.new_record? %>

  <%= simple_form_for([survey, question], validate: true) do |f| %>

    <%#= f.input :q_type, collection: [

      [image_tag("email_small_yellow.png").html_safe, 'email'],
      [image_tag("text_small_yellow.png").html_safe, 'short_text'],
      [image_tag("opinion_small_yellow.png").html_safe, 'opinion_scale']
      ], as: :radio_buttons   %>

      <fieldset class="form-group radio_buttons required survey_question_q_type">
        <legend class="col-form-label pt-0" style="font-size: 18px;"><strong>Please choose a Question Type *</strong></legend>
        <input type="hidden" name="survey_question[q_type]" value="">

        <div class="form-check">
          <input class="form-check-input radio_buttons required" type="radio" value="email" name="survey_question[q_type]" id="survey_question_q_type_email">
          <label class="form-check-label collection_radio_buttons" for="survey_question_q_type_email">
          <%= image_tag "/assets/question_icons/email.png" %>
          </label>
          <p class="mt-2 label-form">Email</p>
        </div>

        <div class="form-check">
          <input class="form-check-input radio_buttons required" type="radio" value="short_text" name="survey_question[q_type]" id="survey_question_q_type_short_text">
          <label class="form-check-label collection_radio_buttons" for="survey_question_q_type_short_text">
          <%= image_tag "/assets/question_icons/text.png", alt: "alttext" %>
          <p class="mt-2 label-form">Text Box</p>
        </div>

        <div class="form-check">
          <input class="form-check-input radio_buttons required" type="radio" value="opinion_scale" name="survey_question[q_type]" id="survey_question_q_type_opinion_scale">
          <label class="form-check-label collection_radio_buttons" for="survey_question_q_type_opinion_scale">
          <%= image_tag "/assets/question_icons/opinion.png" %>
        </label>
        <p class="mt-2 label-form">Opinion Scale</p>
        </div>
      </fieldset>

    <%= f.input :question,label: "Type in your question:", placeholder: "Waiting for your question...", style: "font-size: 18px"  %>
    <%= f.button :submit, value: "Add Question", class: "button outline-button" %>
  <% end %>

<% else %>

  <%= simple_form_for question, remote: true, :url => survey_survey_question_path(survey, question) do |f| %>
      <%= f.input :question %>
      <%= f.button :submit, class: "button outline-button"  %>
  <% end %>

<% end %>


<script>
function validateForm(){
  var question = document.getElementById('new_survey_question').value;

  if (<%= question.valid? %>) {
        document.getElementById('error-name').innerHTML = " Please Enter Your Name *"
      }
}
</script>
