<h2>Question: <%= @survey_question.question %></h2>

<p>There are <%= @response["total_items"] %> reponses to this question </p>

<ul>
<% @response["items"].reverse.each_with_index do |response, i| %>
	<h3><%= i + 1 %></h3>
  <% unless response["answers"].nil? || response["answers"].empty? %>
  	<% if response["answers"][params["question_number"].to_i]["type"] == "text" %>
  		<li><%= response["answers"][params["question_number"].to_i]["text"] %></li>
  	<% else %>
  		<li><%= response["answers"][params["question_number"].to_i]["number"] %></li>
  		<% @question_answers << ["#{i}", response["answers"][params["question_number"].to_i]["number"]] %>
  	<% end %>
  <% end %>
<% end %>
</ul>

<%= pie_chart @question_answers.each  %>
