
<div class="row align-items-center justify-content-center p-3 text-center"><h2><%= @survey_question.question %></h2></div>


<!-- <div class="row border-bottom"><p>There are <%= @survey_question.question_answers.count %> reponses to this question: </p></div> -->

<% if @survey_question.q_type == "opinion_scale" %>
	<% @qanswers = [] %>
	<% answers = 0 %>
	<% @survey_question.question_answers.each do |answer| %>
		<% @qanswers << answer.response.to_i %>
		<% answers += answer.response.to_i %>
	<% end %>
	<div class="row align-items-center justify-content-center pt-2 pb-1 text-center">Average: <%= answers.fdiv(@survey_question.question_answers.count).round %></div>
	<%#= pie_chart [@qanswers]  %>
	<%= line_chart({0 => @survey_question.question_answers.where(response: "0").count, 1 => @survey_question.question_answers.where(response: "1").count, 2 => @survey_question.question_answers.where(response: "2").count, 3 => @survey_question.question_answers.where(response: "3").count, 4 => @survey_question.question_answers.where(response: "4").count, 5 => @survey_question.question_answers.where(response: "5").count, 6 => @survey_question.question_answers.where(response: "6").count, 7 => @survey_question.question_answers.where(response: "7").count, 8 => @survey_question.question_answers.where(response: "8").count, 9 => @survey_question.question_answers.where(response: "9").count, 10 => @survey_question.question_answers.where(response: "10").count}) %>
<% end %>

<div class="row align-items-center border-bottom justify-content-center pt-2 pb-1 text-center">
	<div class="col-md-2">
    	<span><strong>#</strong></span>
    </div>
    <div class="col-md-3">
    	<span><strong>Answer</strong></span>
    </div>
    <div class="col-md-3">
    	<span><strong>By</strong></span>
    </div>
    <div class="col-md-2">
    	<span><strong>Other to</strong></span>
    </div>
</div>


<% @survey_question.question_answers.reverse.each_with_index do |answer, i| %>
	<div class="row align-items-center border-bottom justify-content-center py-3 text-center hoverable">
		<div class="col-md-2">
	    	<%= i %>
	    </div>
		<div class="col-md-3">
	    	<%= answer.response %>
	    </div>
	    <div class="col-md-3">
	    	<%= answer.participant.email %>
	    </div>
	    <div class="col-md-2">
	    	<%= link_to "All Answers", participant_path(answer.participant), class: "pri-button py-1 px-2" %>
	    </div>
	</div>
<% end %>

<div class="row align-items-center justify-content-center p-3 text-center">
	<%= link_to "Index", survey_question_answers_path(@survey_question.survey), class: "button filled-button m-3" %>
    <%= link_to "Participants", participants_path(survey_id: @survey_question.survey.id), class:  "button filled-button m-3" %>
</div>




