<h2>Question: <%= @survey_question.question %></h2>

<p>There are <%= @response["total_items"] %> reponses to this question </p>

<ul>
<% @response["items"].reverse.each_with_index do |response, i| %>
	<h3><%= i + 1 %></h3>
  <% unless response["answers"].nil? || response["answers"].empty? %>
  	<% response["answers"].each do |answer| %>
  		<%  if @survey_question.typeform_id == answer["field"]["id"] %>
	  		<% if answer["type"] == "text" || answer["type"] == "email"%>
	  			<li><%= answer["text"] || answer["email"] %></li>
	  		<% else %>
	  			<li><%= answer["number"] %></li>
	  			<% @question_answers << ["#{i}", answer["number"]] %>
	  		<% end %>
	  	<% end %>
  	<% end %>
  <% end %>
<% end %>
</ul>

<%= pie_chart @question_answers.each  %>
