<%= @response %>
<div class="row"><h2>Question: <%= @survey_question.question %></h2></div>


<div class="row border-bottom"><p>There are <%= @survey_question.question_answers.count %> reponses to this question: </p></div>

<div class="row align-items-center border-bottom justify-content-center pt-2 pb-1 text-center">
	<div class="col-md-3">
    	<span><strong>#</strong></span>
    </div>
    <div class="col-md-3">
    	<span><strong>Answer</strong></span>
    </div>
    <div class="col-md-3">
    	<span><strong>Button to</strong></span>
    </div>
    <div class="col-md-3">
    	<span><strong>Other to</strong></span>
    </div>
</div>


<% @survey_question.question_answers.reverse.each_with_index do |answer, i| %>
	<div class="row align-items-center border-bottom justify-content-center py-3 text-center hoverable">
		<div class="col-md-3">
	    	<%= i %>
	    </div>
		<div class="col-md-3">
	    	<%= answer.response %>
	    </div>
	    <div class="col-md-3">
	    	Button
	    </div>
	    <div class="col-md-3">
	    	Other Button
	    </div>
	</div>
<% end %>


<% if @survey_question.q_type == "opinion_scale" %>
	<% @qanswers = [] %>
	<% @survey_question.question_answers.each do |answer| %>
		<% @qanswers << answer.response.to_i %>
	<% end %>
	<%#= pie_chart [@qanswers]  %>
<% end %>


