<div class="c-survey-title">
  <h2>Title</h2>
<div class="survey-blanks">
<%= simple_form_for([@project, @survey]) do |f| %>
    <%= f.input :name, label: "What is the name of your survey?", placeholder: "grumpy cats" %>
    <%= f.input :name, label: "What is the purpose of the survey?", placeholder: "understanding cats" %>
  <div class="form-actions" id="sign-in-button">
    <%= f.button :submit %>
  </div>
  </div>
  <div class="back-button-div">
<%= link_to "Back", project_surveys_path, class: "button-back" %>
  <% end %>
</div>
</div>
