<h1><%= @survey.name %>- Survey Show Page</h1>

<button class="button" id="bt-popup">Preview Survey</button>

<%= link_to "See survey answers", survey_question_answers_path(@survey), class:"button" %>
<%= simple_form_for([@survey, WelcomeMessage.new]) do |f| %>
  <%= f.input :title %>
  <%= f.button :submit, class: "button"  %>
<% end %>



<% if @survey_question.new_record? %>
  <%= simple_form_for([@survey, @survey_question]) do |f| %>
    <p>Please choose the type of question</p>
    <%= f.input :q_type, collection: ['Short Text','Rating Scale'], as: :radio_buttons %>
    <p>Please type in a question:</p>
    <%= f.input :question, placeholder: "Type here..."  %>
    <%= f.button :submit, value: "Add Question", class: "button" %>
  <% end %>
<% else %>
  <%= simple_form_for @survey_question, :url => survey_survey_question_path(@survey, @survey_question) do |f| %>
      <%= f.input :question %>
      <%= f.button :submit, class: "button"  %>
  <% end %>
<% end %>

<div id="questions">
<ol>
  <% @survey.survey_questions.each do |question| %>
    <li><%= question.question %>
      <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_survey_question_path(@survey,question.id)%>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, survey_question_path(@survey,question.id), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ol>
</div>
<%= simple_form_for([@survey, ThankyouScreen.new]) do |f| %>
  <%= f.input :title %>
  <%= f.button :submit, class: "button"  %>
<% end %>
<%= link_to "Back", project_path(@survey.project.id), class: "btn-info"%>



<script src="https://embed.typeform.com/embed.js" type="text/javascript"></script>
<script type="text/javascript">
  let popup1;
  window.addEventListener('DOMContentLoaded', function () {

      popup1 = window.typeformEmbed.makePopup("https://admin.typeform.com/to/<%= @survey.typeform_id  %>", {
        hideHeaders: true,
        hideFooter: true
      });
    })

    document.getElementById('bt-popup').addEventListener('click', function () {
      popup1.open();
    });
</script>

