<% if @survey.completed %>

  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="whole-form">
        <div class="row">
          <div class="col-12 col-lg-10 col-xl-12">
            <div class="form-intro">
              <h1><%= @survey.name %></h1>
              <div>
                <%= link_to "Survey Answers", survey_question_answers_path(@survey), class: "button outline-button m-2" %>
                <%= link_to "Survey Participants", participants_path, class:  "button outline-button m-2" %>
              </div>
            </div>
            <hr style="border-bottom: 2px solid #FCCD08">
          </div>
        </div>


        <div class="row">
          <div class="col-12 col-lg-10 col-xl-12">
            <div class="mt-3">
              <div id="my-embedded-typeform" style="width: 100%; height: 300px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-10 col-xl-12">
            <div class="mt-3 text-right">
              <button id="share-survey" class="finish-editing m-2 p-2">Share Survey</button>
              <%= link_to "", project_path(@survey.project), id: "redirect"  %>
              <%#= link_to "", project_survey_path(@survey.project, @survey), id: "change-attribute", method: :put  %>
              <%#= render 'survey_questions/new_question', survey: @survey, question: @survey_question %>
              <% counter = 0 %>
            <% @survey.survey_questions.each do |question| %>
            <div class=" question-card  " id="questions">
              <div class="card-body border-bottom complete-form ">
                <% counter += 1 %>
                <%= render 'survey_questions/add_question', survey: @survey, question: question, counter: counter %>
              </div>
            </div>
            <% end %>


            </div>
          </div>
        </div>





      </div>
      </div>
    </div>
  </div>

  <!-- Embedded Form Script-->

<script src="https://embed.typeform.com/embed.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function() {
      var el = document.getElementById("my-embedded-typeform");

      window.typeformEmbed.makeWidget(el, "https://admin.typeform.com/to/<%= @survey.typeform_id %>", {
        hideFooter: true,
        hideHeaders: true,
        opacity: 0
      });
    });
  </script>


<% else %>

  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="whole-form">
        <div class="row">
          <div class="col-12 col-lg-10 col-xl-12">
            <div class="form-intro">
              <h1><%= @survey.name %></h1>
              <div>
                <a class="button outline-button m-2 ml-4" id="bt-popup">Preview Survey</a>
                <button id="edit-form-done" class="finish-editing m-2 p-2">Finish Editing</button>
                <%#= link_to "", project_path(@survey.project), id: "redirect"  %>
                <%= link_to "", project_survey_path(@survey.project, @survey), id: "change-attribute", method: :put  %>
              </div>
            </div>
            <hr style="border-bottom: 2px solid #FCCD08">
          </div>
        </div>


        <div class="row">
          <div class="col-12 col-lg-10 col-xl-12">
            <div class="question-type">
              <%= render 'survey_questions/new_question', survey: @survey, question: @survey_question %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-10 col-xl-12 ">
            <% counter = 0 %>
            <% @survey.survey_questions.each do |question| %>
            <div class=" question-card  " id="questions">
              <div class="card-body border-bottom ">
                <% counter += 1 %>
                <%= render 'survey_questions/add_question', survey: @survey, question: question, counter: counter %>
              </div>
            </div>
            <% end %>
          </div>
        </div>


      </div>
      </div>
    </div>
  </div>







<!-- <div style="width:100%">
  <span class="d-inline-flex">
    <h1><%= @survey.name %></h1>
    <a class="button outline-button m-2" id="bt-popup">Preview Survey</a>
      <%#= link_to "Survey answers", survey_question_answers_path(@survey), class: "button outline-button m-2" %>
    <%#= link_to "Survey participants", participants_path(survey_id: @survey), class:  "button outline-button m-2" %>
  </span>
  <hr style="border-bottom: 4px solid #FCCD08">
</div> -->


<%#= simple_form_for([@survey, WelcomeMessage.new]) do |f| %>
  <%#= f.input :title %>
  <%#= f.button :submit, class: "button"  %>
<%# end %>




  <%#= link_to "Back", project_path(@survey.project.id), class: "btn sec-button"%>




<%#= simple_form_for([@survey, ThankyouScreen.new]) do |f| %>
  <%#= f.input :title %>
  <%#= f.button :submit, class: "button"  %>
<%# end %>

<!-- Graphs -->
<%#= pie_chart SurveyQuestion.group(:question).count %>

<!-- Preview Survey Script-->
<script src="https://embed.typeform.com/embed.js" type="text/javascript"></script>
<script type="text/javascript">
  let popup1;
  window.addEventListener('DOMContentLoaded', function () {

      popup1 = window.typeformEmbed.makePopup("https://admin.typeform.com/to/<%= @survey.typeform_id  %>", {
        hideHeaders: true,
        hideFooter: true
      });
    })

    document.getElementById('bt-popup').addEventListener('click', function () {
      popup1.open();
    });
</script>



<% end %>
