<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>dcme.today</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <!-- Added for today animation and charts to work at the same time -->
    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.3.0/chartkick.js"></script>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div style="height:80px"></div>
    <%= render 'shared/flashes' %>
    <div class="container position-relative mt-3">
    <%= yield %>
    </div>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </body>
</html>
